#pop-down-alert {
    position: absolute;
    width: 400px;
    left: 300px;
    text-align: center;
    overflow: hidden;
}

@-webkit-keyframes slideDown {
    0%, 100% {
        -webkit-transform: translateY(-50px);
    }

    10%, 90% {
        -webkit-transform: translateY(0px);
    }
}

@-moz-keyframes slideDown {
    0%, 100% {
        -moz-transform: translateY(-50px);
    }

    10%, 90% {
        -moz-transform: translateY(0px);
    }
}

.cssanimations.csstransforms #pop-down-alert {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s .25s 1 ease forwards;
    -moz-transform: translateY(-50px);
    -moz-animation: slideDown 2.5s .25s 1 ease forwards;
}

.cssanimations.csstransforms #close {
    display: none;
}