body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: small;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

tr .selected {
    background-color: lightpink;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Instead of making a scrolling table, these are for divs to make a scrolling list */

.scrolling-container {    
    height: 600px;
    position: relative;
}

.header-scrolling-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.header-cell {
    min-width: 100px; /* Header & data cell widths need to be coordinated if larger */
    background-color: #f1f1f1;
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 16px; /* Increase font-size */
    padding: 6px 9px 6px 9px; /* Add some padding (TRBL) */
}

/* Hero detail formatting */
.hor-title-header-row {
    display:flex;
}
.hor-title-header-cell {
    background-color: #f1f1f1;
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 16px; /* Increase font-size */
    padding: 6px 9px 6px 9px; /* Add some padding (TRBL) */
}

.hor-data-row {
    display: flex;
}

.hor-data-cell {
    min-width: 100px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    font-size: 13px; /* Increase font-size */
    padding: 3px 5px 3px 5px; /* Add some padding (TRBL) */
    font-family: Arial;
}

#Hero_Notes {
    min-height: 100px;
}

.add-ally, .add-enemy {
    display: inline;
}

.hor-more .more {
    display: none;
}

span.hor-more {
    font-weight: bold;
    cursor: pointer;
}

.allyDetail, .enemyDetail {
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 6px;
}

.counter-row, .synergy-row, .tip-row {
    border: none;
    box-shadow: 0 2px 4px rgba(51, 51, 51, .25);
    margin: 2px 2px;
}

.tip-header, .relationship-header {
    text-decoration: underline;
}

.detail-column {
    display: none; /* hidden initially */
}

a.create-link {
    background: url(../img/create.svg) no-repeat center center;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-indent: -9999px; /* hides link text */
}

a.delete-link {
    background: url(../img/delete.svg) no-repeat center center;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-indent: -9999px; /* hides link text */
}

a.edit-link {
    background: url(../img/edit.svg) no-repeat center center;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-indent: -9999px; /* hides link text */
}

.link-padding {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
}