body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.selected {
    background-color: lightslategray;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Credit to https://www.w3schools.com/ for much of this table */

#filterInput {
    background-image: url('/img/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#filterPreference {
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 12px 12px 12px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    color: gray;
}

#filterTable {
    border-collapse: collapse; /* Collapse borders */
    min-width: 720px;
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

    #filterTable th, #filterTable td {
        text-align: left; /* Left-align text */
        padding: 12px; /* Add padding */
    }

    #filterTable tr {
        /* Add a bottom border to all table rows */
        border-bottom: 1px solid #ddd;
    }

        #filterTable tr.header, #filterTable tr:hover {
            /* Add a grey background color to the table header and on hover */
            background-color: #f1f1f1;
        }
