@{
    var alertFlags = new string[] { "warning", "success", "info", "danger" };
    var foundCookie = alertFlags.Select(f => Request.Cookies[f])
                                .Where(c => c != null)
                                .FirstOrDefault();
    if (foundCookie != null)
    {
        var alertClass = $"alert alert-{foundCookie.Name}"; //warning/yellow | success/green | info/blue | danger/red

        <div id="pop-down-alert" class="@alertClass">
            @foundCookie.Value <a id="close">[close]</a>
        </div>

        <script>
            close = document.getElementById("close");
            close.addEventListener('click', function () {
                note = document.getElementById("pop-down-alert");
                note.style.display = 'none';
            }, false);            
        </script>

        //delete the cookie so it won't appear again
        Request.Cookies[foundCookie.Name].Expires = DateTime.Now.AddDays(-1);
    }
}

