<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DotAContext" connectionString="Server=dotadb.database.windows.net,1433;Initial Catalog=dotadb_dev;Persist Security Info=False;User ID=dotaadmin;Password=d0t4dB322;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>
