@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Developer's Log</h2>

<h4>3/29/18</h4>
<ul>
    <li>Changed sharing setup so that instead of copying someone's tips and relationships, you're instead 'subscribing' to a profile, which dynamically updates.</li>
    <li>Fixed a bug where you wouldn't be signed in after registering.</li>
    <li>Fixed a bug where everything crashed horribly and I panicked because I wasn't sure what the hell I did. <a href="http://plasmasturm.org/log/6debug/" target="_blank">Tbh I'm still not.</a></li>
</ul>

<h4>3/28/18</h4>
<ul>
    <li>Added dev log so people can tell what's new!</li>
    <li>Updated tip and relationship editing from the view page so it doesn't require leaving the page.</li>
    <li>Resolved an issue where adding a new tip/relationship would reset the page.</li>
</ul>