@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>3/28/18</h3>
<ul>
    <li>Added dev log so people can tell what's new!</li>
    <li>Updated tip and relationship editing from the view page so it doesn't require leaving the page.</li>
</ul>