@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>6/15/23</h3>
<ul>
    <li>Fixed all the issues that arose from using a more modern version of IIS and updating package vulnerabilities</li>
    <li>Added one-click ability to upgrade notes tips and relationships to the current patch</li>
</ul>

<h3>3/28/18</h3>
<ul>
    <li>Added dev log so people can tell what's new!</li>
    <li>Updated tip and relationship editing from the view page so it doesn't require leaving the page.</li>
    <li>Resolved an issue where adding a new tip/relationship would reset the page.</li>
</ul>